.icon{
  height:50%;
  display: flex;
  justify-content:center;
  align-items:center;
  div{
    border: 25px solid #3dc2ff;
    border-radius: 15px;
    display: flex;
    justify-content:center;
    align-items:center;
    ion-icon{
      font-size: 150pt;
    }
  }
}
