<ion-header>
  <ion-toolbar  color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="dados-compra">
    <ion-col size="6">
      {{venda.cliente.nome}}
    </ion-col>
    <ion-col size="6" class="data">
      {{venda.data}}
    </ion-col>
    <ion-col size="12">
      Valor Total: {{venda.valorTotal|currency:'BRL'}}
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let item of venda.itens">
      <ion-row>
        <ion-col size="12">
          <b>{{item.produto}}</b>
        </ion-col>
        <ion-col size="12">Variedade:{{item.variedade}}</ion-col>
        <ion-col size="12">País:{{item.pais}}</ion-col>
        <ion-col size="12">Catêgoria:{{item.categoria}}</ion-col>
        <ion-col size="12">Safra:{{item.safra}}</ion-col>
        <ion-col size="12">Preço:{{item.preco}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
